.header {
    position: fixed;
}

.aside{
    position:fixed;
}

.profileImage{
    width:50px;
    height:50px;
    border-radius:100%;
}

.progressBar{
    width:170px;
    border-radius: 20px;
}

.iconStyles{
    margin:1.3rem;
    color:#8492a0;
    font-size: 1.5rem;

}

.iconStyles.active{
    color:#2b1e88;
}

.visitsIcon{
    color:#8492a0;
    font-size:1.5rem;
}

.visitsIcon.active {
    color:#ffffff;
}