body {
  margin: 0;
  box-sizing:border-box;
  padding:0;
  background-color:#dfe6e9;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Sen';
  font-weight: 400;
  src: local('Sen'), url(./fonts/Sen-Regular.ttf) format('truetype');
}

.fontStyle{
    font-family:'Sen', sans-serif;
}